<mat-toolbar class="mat-primary mat-toolbar-single-row mat-elevatmat-z8" color="primary">
Calendario
</mat-toolbar>
<div class="container">  
  <mat-card>
    <mat-card-content>
      <h2>Validar fecha festiva</h2>
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Selecciona una fecha" [(ngModel)]="fechaSeleccionada">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="validarFechaFestiva()">Validar fecha</button>
   
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content>
      <h2>Obtener fechas festivas</h2>
      <mat-form-field>
        <input matInput placeholder="Ingresa un año" [(ngModel)]="anoIngresado">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="obtenerFechasFestivas()">Obtener fechas festivas</button>
      <ul>
      
      </ul>
    </mat-card-content>
  </mat-card>
</div>